In [ ]:
import pandas as pd
df1 = pd.read_csv('111各鄉鎮市區人口密度new.csv')
display(df1)
df1.style   #把型別變成styler<--視覺化的DataFrame
type(df1.style)
#Styler.format(formatter=None, subset=None, na_rep=None, precision=None, decimal='.', thousands=None, escape=None, hyperlinks=None)
df1.style.format(precision=2,thousands=',', decimal='.')

#Styler.format_index(formatter=None, axis=0, level=None, na_rep=None, precision=None, decimal='.', thousands=None, escape=None, hyperlinks=None)
def format1(value:int):
    return f"第{value}號"
df1.style\
.format(precision=2,thousands=',', decimal='.')\
.format_index(format1)

In [ ]:
df1 = pd.read_csv('111各鄉鎮市區人口密度new.csv')
display(df1.style)
df1.style\
.format(precision=2,thousands=',', decimal='.')\
.format_index(lambda value:f'第{value}號')          #lambda會自動return但只能一行,所以可以不用寫def那兩行了

In [18]:
import numpy as np
weather_df = pd.DataFrame(np.random.rand(10,2)*5,index=pd.date_range(start="2021-01-01",periods=10),
                        columns=["Tokyo", "Taipei"])
weather_df

               Tokyo    Taipei
2021-01-01  3.218977  2.011813
2021-01-02  4.617287  0.988198
2021-01-03  3.762588  3.662318
2021-01-04  4.793687  2.852693
2021-01-05  0.722437  0.987899
2021-01-06  3.712030  2.939792
2021-01-07  0.025946  2.072928
2021-01-08  3.611950  2.722252
2021-01-09  0.577736  4.121690
2021-01-10  3.846946  1.954748

In [19]:
weather_df.index    #dtype='datetime64[ns]'是timestamp

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08',
               '2021-01-09', '2021-01-10'],
              dtype='datetime64[ns]', freq='D')

In [24]:
   # %A代表完整星期、%a是簡化的星期
weather_df.style\
.set_caption('Weather conditions')\
.format_index(lambda v:v.strftime("%A"))\
.background_gradient(vmin=1,vmax=5,cmap='Purples')